/* DataTables */
.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	padding: 14px 0 4px 0;
	border: 1px solid #DDD;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: #fff;
	border-radius: 5px;
}

/* FIX TEMPORARY BIG WITH DISPLAY: INHERIT*/
@media only screen and (max-width: 767px) {
	.visible-phone {
		 display: inline !important;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.visible-tablet {
		 display: inline !important;
	}
}
@media only screen and (min-width: 980px) {
	.visible-desktop {
		display: inline !important;
	}
}



/* set color of placeholders for better readability */
input::-webkit-input-placeholder { color: #ddd; }
input:-moz-input-placeholder { color: #ddd; }
input:-ms-input-placeholder { color: #ddd; }
input:-o-input-placeholder { color: #ddd; }
input:input-placeholder { color: #ddd; }

.spacer {
	display: block;
	height: 5px;
}

.spacerh {
	display: block;
	width: 5px;
}


/* row-fluid icon legends at the bottom */
.legend {
	padding: 5px 0;
	cursor: default;
	background-color: #eee;
	border-bottom: 1px solid #ddd;
}

.legend [class*="icon"] {
	opacity: 0.3;
	font-size: 20px;
	cursor: default;
	-webkit-transition: All .3s ease-in-out;
	-moz-transition: All .3s ease-in-out;
	-ms-transition: All .3s ease-in-out;
	-o-transition: All .3s ease-in-out;
	-transition: All .3s ease-in-out;
}

.legend [class*="icon"]:hover {
	opacity: 1;
	-webkit-transition: All .3s ease-in-out;
	-moz-transition: All .3s ease-in-out;
	-ms-transition: All .3s ease-in-out;
	-o-transition: All .3s ease-in-out;
	-transition: All .3s ease-in-out;
}

/* jquery data-table report specifics */
.dataTable td {
	vertical-align: middle;
}




/* PROJECTFORK SUPPORT */
#projectfork .thumbnail {min-width: 98px;}